<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改教师信息</title>
<!-- jQuery Version 1.11.1 -->
<script src="static/lib/jquery/jquery.min.js"></script>
<script src="static/lib/jquery.cookie/jquery.cookie.js"></script>
<!-- Bootstrap Core CSS -->
<link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="static/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="static/lib/metisMenu/css/metisMenu.css" rel="stylesheet">

<!--  Fonts -->
<link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--  CSS -->
<link href="static/css/sts-admin.css" rel="stylesheet">
<link href="static/lib/bootstrap-daterangepicker/css/daterangepicker.css" rel="stylesheet">

    <script>
            function initradio(radioName,radioValue){
                var radioObjects = document.getElementsByName(radioName);

                for(var i = 0;i < radioObjects.length;i++){
                    if(radioObjects[i].value == radioValue){
                        radioObjects[i].checked =  'checked';
                    }
                }
            }
            function yangfan(){
                var rr = {{ major }};
                var a1 = document.getElementById("qwe");
                a1.innerHTML = rr;
                console.log(rr);
            }
        </script>
</head>
<body onload="yangfan();">
    <table width="1000" border="0" align="center">
    <tr>
    <td colspan="2" style="background-color:#00FFFF;">
    <h1 align="center">教师信息</h1>
    </td>
    </tr>

    <tr>
    <td style="background-color:#E8E8E8 ;width:100px;vertical-align:top;">
    教师照片<br>
    </td>
    <td style="background-color:#eeeeee;height:200px;width:400px;vertical-align:top;">
    <form action="/altert/{{ username }}" method="POST">

    教师姓名:<input type="text"  placeholder="请输入更改后的姓名" value={{ name }} name="name" required="required">
    <br>
    性别：<input type="radio" name="sex" value="1" required="required">男  <input type="radio" name="sex" value="0" >女
        <script>
            initradio('sex',{{ sex }});
        </script>
    <br>
    教师所属学院:<input type="text"  placeholder="请输入更改后的学院" value={{ department }} name="department" required="required">
    <br>
    教师年龄:<input type="text"  placeholder="请输入更改后的年龄" value={{ age }} name="age" required="required">
    <br>
    教师教龄:<input type="text"  placeholder="请输入更改后的教龄" value={{ workage }} name="workage" required="required">
    <br>
    教师职称:<input type="text"  placeholder="请输入更改后的职称" value= {{ title }} name="title" required="required">
    <br>
    照片地址:<input type="text"  placeholder="请输入更改后的照片地址" value={{ image }} name="image" required="required">
    <br>
    教师状态:<select name="status" required="required">
    <option value="0">休假</option>
    <option value="1">退休</option>
    <option value="2" selected>在职</option>
    </select>
    <br>
        可教授课程{{ major }}

    <br>
<button type="submit" name="upload" style="padding: 5px 5px;border-radius: 5px; background:#eeeeee; border: 1px  #555 solid; color: #333; ">提交</button>
    <button type="submit" name="mahai" style="padding: 5px 5px;border-radius: 5px; background:#eeeeee; border: 1px  #555 solid; color: #333; ">返回</button>
</form>
        <form method="post" action="/addto{{ username }}">
        <select name="addto{{ username }}">
                <option value="no" >选择添加课程</option>
            {% for k in enableStr %}
                <option value={{ k }}>{{ k }}</option>
            {% endfor %}
        </select>
<button type="submit" >确认添加</button>



        </form>

    <form action="/deletefrom{{ username }}" method="post">
        <select name="deletefrom{{ username }}">
                <option value="no" >选择删除课程</option>
            {% for k in str2 %}
                <option value={{ k }}>{{ k }}</option>
            {% endfor %}
        </select>
<button type="submit" >确认删除</button>
    </form>
    {% if ERROR %}
        <h1 style="color:#ff2c33">{{ ERROR }}!</h1>
    {% endif %}


    </td>
    </tr>
    </table>

</body>
</html>
