<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>对用户表的操作</title>


</head>
<body>

<form method='post' action='/userInfo1'>
			<p> 
				  <p>
                        <input type="radio" name="identity" value="student"><span>学生</span>
                        <input type="radio" name="identity" value="teacher"><span>教师</span>
                        <input type="radio" name="identity" value="admin"><span>管理</span>
                        <input type="radio" name="identity" value="all"><span>所有</span>
						
                    </p>


				  <button class="">确认操作</button>
				  
            </p>
			</form>

			<form action="/userInfo2" method=post enctype=multipart/form-data>
     		 <p><input type=file name=file>
         		<input type=submit value=Upload>
    		</form>
    		{% if error %}
				<h1 style="color:#ff2c33">{{ error }}!</h1>
			{% endif %}


{{ data_1 }}

    <p><div id="div1"></div></p>
</body>
</html>