<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>毕设课题介绍</h1>
    <p th:text="${graduationSubject.getSerialnumber()}">课题编号</p>
    <p th:text="${graduationSubject.getName()}">课题名字</p>
    <p th:text="${graduationSubject.getIntroduce()}">课题介绍</p>
</body>
</html>