html, body {
    height: 100%;
    background-color: #f3f3f3 !important;
}

/* 设置含有“自主选课”的头部 */
.course-header {
    width: 100%;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    text-indent: 100px;
    font-weight: 100;
    color: #fff;
    background: linear-gradient(to right, #2e54a7, #2ba5d2);
}

/* 设置整个选课部分的容器 */
.course-container {
    background-color: white;
    width: 92%;
    margin: 12px auto;
    overflow: hidden;
}

.container {
    width: 96%;
}

/* 设置整个查询部分的容器 */
.query-part {
    margin-top: 45px;
    border: 1px solid black;
}

/* 设置整个输入查询及重置部分 */
form.query {
    width: 72%;
    margin: 5px auto 0;
    font-size: 12px;
}

form.query * {
    float: left;
    outline: none;
}

.query-input {
    width: 70%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    background-color: #f2f2f2;
}

.query-input:focus {
    background-color: #e9f8ff;
}

.form-btn {
    padding: 6px 15px;
    border: 1px solid #aaa;
}

.query-btn {
    background-color: #337ab6;
    color: white;
}

.reset-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    background-color: white;
}

@media (max-width: 768px) {
    form.query {
        width: 100%;
        margin: 5px auto 0;
        font-size: 10px;
    }
    .query-input {
        width: 68%;
    }
    .form-btn {
        padding: 6px 8px;
    }
}

.selected-conditions-container {
    width: 100%;
    box-sizing: border-box;
    background-color: #fbf6d8;
    min-height: 48px;
    padding: 3px 0;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid #bdddfa;
}

.selected-conditions-container .selected-const-text {
    width: 17%;
    box-sizing: border-box;
    float: left;
    text-align: right;
    padding: 5px 30px 15px 0;
    font-size: 14px;
    font-weight: bold;
}

ul.selected-conditions {
    width: 83%;
    float: left;
    padding-top: 5px;
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li.selected-item {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
    color: #f60;
    border: 1px solid #f60;
    background-color: white;
}

li.selected-item .deselect-cross {
    cursor: pointer;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 5px;
    margin-right: 2px;
    background-image: url("../img/deselect_cross.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.condition-container {
    width: 90%;
    margin: 0 auto;
}

col.condition-name {
    width: 13%;
}

col.condition-values {
    width: 87%;
}

.condition-container td:nth-child(even) {
    text-align: left;
    padding-bottom: 15px;
    font-size: 16px;
    color: #2e54a7;
}

.condition-container td:nth-child(odd) {
    text-align: right;
    padding-right: 25px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
}

.condition-container .condition-value-item {
    padding-right: 25px;
    cursor: pointer;
}

.condition-container .condition-value-item:hover {
    text-decoration: underline;
}

.course-footer {
    margin-top: 15px;
    text-align: center;
    font-size: 11px;
    color: #388e5a;
}

.course-footer span {
    margin-right: 50px;
}