.container {
    width: 98%;
    height: 90%;
    margin: 12px auto 0;
    border: 1px solid #bdddfa;
}

form.query {
    width: 66%;
    margin: 5px auto 0;
}

form.query * {
    margin-left: -5px;
    box-sizing: border-box;
    outline: none;
}

.query-input {
    width: 80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background-color: #f2f2f2;
}

.query-input:focus {
    background-color: white;
}

.query-btn {
    width: 65px;
    padding: 6px 10px;
    border: 1px solid #aaa;
    background-color: #337ab6;
    color: white;
}

.reset-btn {
    width: 65px;
    padding: 6px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #aaa;
    border-left: none;
    background-color: white;
}

.selected-conditions-container {
    width: 100%;
    box-sizing: border-box;
    background-color: #fbf6d8;
    min-height: 48px;
    padding: 3px 0;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid #bdddfa;
}

.selected-conditions-container .selected-const-text {
    width: 17%;
    box-sizing: border-box;
    float: left;
    text-align: right;
    padding: 5px 30px 15px 0;
    font-size: 14px;
    font-weight: bold;
}

ul.selected-conditions {
    width: 83%;
    float: left;
    padding-top: 5px;
    padding-left: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li.selected-item {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
    color: #f60;
    border: 1px solid #f60;
    background-color: white;
}

li.selected-item .deselect-cross {
    cursor: pointer;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 5px;
    margin-right: 2px;
    background-image: url("../img/deselect_cross.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.condition-container {
    width: 90%;
    margin: 0 auto;
}

col.condition-name {
    width: 13%;
}

col.condition-values {
    width: 87%;
}

.condition-container td:nth-child(even) {
    text-align: left;
    padding-bottom: 15px;
    font-size: 16px;
    color: #2e54a7;
}

.condition-container td:nth-child(odd) {
    text-align: right;
    padding-right: 25px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
}

.condition-container .condition-value-item {
    padding-right: 25px;
    cursor: pointer;
}

.condition-container .condition-value-item:hover {
    text-decoration: underline;
}
