<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPA查询</title>
    <script src="js(groupFour)/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css(groupFour)/top.css">
</head>
<body class="default">
<div class="top">
    <ul class="default">
        <li>
            <img class="left" src="images(groupFour)/computer.png">
            <h1 style="font-size: 32px;"><a class="left" href="#">教务管理系统</a></h1>
        </li>
    </ul>
</div>
<div class="orghead">
    <div class="container">
        <div class="title">
            <img class="title" src="images(groupFour)/grade.png">
            <h1 class="title">成绩管理子系统</h1>
        </div>
        <div class="orgnav">
            <a href="#" class="pagehead-tabs-item ">
                <img class="label" src="images(groupFour)/score_figure.png">基本成绩查询
            </a>
        </div>
        <div class="orgnav">
            <a href="#" class="pagehead-tabs-item selected">
                <img class="label" src="images(groupFour)/GPA_figure.png">GPA查询
            </a>
        </div>
        <div class="orgnav">
            <a href="#" class="pagehead-tabs-item">
                <img class="label" src="images(groupFour)/rank.png">成绩排名查询
            </a>
        </div>
    </div>
</div>

<!-- 引入 echarts.js -->
<script src="js(groupFour)/echarts.min.js"></script>
<script src="js(groupFour)/jquery-3.4.0.min.js"></script>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div class="container">
    <div id="main" style="width: 1000px;height:600px;"class="card echart"></div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {

            title: {
                text: '                     GPA学期变动情况'
            },
            tooltip: {},
            legend: {
                data:['GPA']
            },
            xAxis: {
                type: 'category',
                data: ['2016-2017-1', '2016-2017-2', '2017-2018-1', '2017-2018-2', '2018-2019-1', '2018-2019-2', '2019-2020-1']

            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [3.0, 3.2, 3.4, 2.0, 4.1, 3.9, 3.8],
                type: 'line'
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

</div>
</body>
</html>