<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js(groupFour)/echarts.min.js"></script>
    <script src="/js(groupFour)/jquery-3.4.0.min.js"></script>
    <script src="/js(groupFour)/popper.min.js"></script>
    <script src="/js(groupFour)/bootstrap.min.js"></script>
    <script src="/js(groupFour)/bootstrap-select.min.js"></script>
    <script src="/js(groupFour)/sweetalert2.min.js"></script>
    <script src="/js(groupFour)/style(groupFour).js"></script>
    <script src="/js(groupFour)/promise.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css(groupFour)/top.css">
    <link rel="stylesheet" type="text/css" href="/css(groupFour)/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css(groupFour)/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/css(groupFour)/sweetalert2.min.css">

</head>
<body>
<form class="search" action="/test_user" method="post" target="_blank">
    <div class="form-group" style="float: left">

        <input name="username" type="text" class="form-control" placeholder="用户名" required="required">
        <input name="pwd" type="text" class="form-control" placeholder="密码" required="required">
    </div>
    <div class="float-right">
        <button class="btn btn-outline-primary center" type="submit">
            查询
        </button>
    </div>
</form>
</body>
</html>