<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>成绩查询</title>
    <script src="/js(groupFour)/echarts.min.js"></script>
    <script src="/js(groupFour)/jquery-3.4.0.min.js"></script>
    <script src="/js(groupFour)/popper.min.js"></script>
    <script src="/js(groupFour)/bootstrap.min.js"></script>
    <script src="/js(groupFour)/style(groupFour).js"></script>
    <script src="/js(groupFour)/bootstrap-select.min.js"></script>
    <script src="/js(groupFour)/sweetalert2.min.js"></script>
    <script src="/js(groupFour)/promise.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css(groupFour)/top.css">
    <link rel="stylesheet" type="text/css" href="/css(groupFour)/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css(groupFour)/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/css(groupFour)/sweetalert2.min.css">

</head>
<body class="default">
    <div class="top">
        <ul class="default">
            <li>
                <img class="left" src="/images(groupFour)/computer.png">
                <h1 style="font-size: 32px;"><a class="left" href="#">教务管理系统</a></h1>
            </li>
        </ul>
    </div>
    <div class="orghead">
        <div class="container">
            <div class="title">
                <img class="title" src="/images(groupFour)/grade.png">
                <h1 class="title">成绩管理子系统</h1>
            </div>
            <div class="orgnav">
                <a href="/score_query" class="pagehead-tabs-item selected">
                    <img class="label" src="/images(groupFour)/score_figure.png">基本成绩查询
                </a>
            </div>
            <div class="orgnav">
                <a href="/GPA_query" class="pagehead-tabs-item">
                    <img class="label" src="/images(groupFour)/GPA_figure.png">GPA查询
                </a>
            </div>
            <div class="orgnav">
                <a href="/score_rank" class="pagehead-tabs-item">
                    <img class="label" src="/images(groupFour)/rank.png">成绩排名查询
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="search" action="/score_query/search_course" method="post">
            <div class="form-group" style="float: left">
                <input name="course_name" type="text" class="form-control" placeholder="输入要查询的课程名" required="required">
            </div>
            <div class="float-right">
                <button class="btn btn-outline-primary center" type="submit">
                    查询
                </button>
            </div>
        </form>
        <div class="card">
            <div class="cardblock">
                <h5>成绩列表</h5>
                <form action="/score_query/search_course" method="post" style="width: 400px;height: 38px;float: left;margin-top: 10px;">
                    <select id="select" class="form-control" name="study_year" style="width: 230px;float: left">
                        <option value="all">全部</option>
                        <option value="2016-2017-1">2016-2017学年第1学期</option>
                        <option value="2016-2017-2">2016-2017学年第2学期</option>
                        <option value="2017-2018-1">2017-2018学年第1学期</option>
                        <option value="2017-2018-2">2017-2018学年第2学期</option>
                        <option value="2018-2019-1">2018-2019学年第1学期</option>
                        <option value="2018-2019-2">2018-2019学年第2学期</option>
                        <option value="2019-2020-1">2019-2020学年第1学期</option>
                        <option value="2019-2020-2">2019-2020学年第2学期</option>
                        <option th:text="${select.getStudy_year()}" style="display: none"></option>
                    </select>
                    <button class="btn btn-outline-primary center" type="submit" style="margin-left: 30px;">
                        确认
                    </button>
                </form>
                <form action="/score_query/score_export" method="post" style="display: inline-block;float:right;margin-bottom: 10px;margin-top: 10px;">
                    <select name="study_year" style="width: 0px;height: 0px;display: none" >
                        <option th:text="${select.getStudy_year()}" style="display: none"></option>
                    </select>
                    <button class="btn btn-outline-primary center" type="submit">
                        导出成绩
                    </button>
                </form>
                <div class="table-responsive">
                    <table id="p" class="table">
                        <tr>
                            <th>课程名称</th>
                            <th>修读时间</th>
                            <th>课程成绩</th>
                            <th>课程绩点</th>
                            <th>字母制成绩</th>
                            <th>查看成绩明细</th>
                        </tr>
                        <tr th:each="e:${model}">
                            <td th:text="${e.getCoursename()}"></td>
                            <td th:text="${e.getStudy_year()}"></td>
                            <td th:text="${e.getTotal()}"></td>
                            <td th:text="${e.getGpa()}"></td>
                            <td><span th:text="${e.getTotal()}"></span></td>
                            <td>
                                <button class="btn btn-outline-primary center" type="button"  onclick="show_score_detail(this.id)">
                                    查询
                                </button>
                            </td>
                            <td style="display: none"><p style="display: none;" th:text="${e.getScoreUsual()}"></p></td>
                            <td style="display: none"><p style="display: none;" th:text="${e.getScoreUsualRate()}"></p></td>
                            <td style="display: none"><p style="display: none;" th:text="${e.getScoreMid()}"></p></td>
                            <td style="display: none"><p style="display: none;" th:text="${e.getScoreMidRate()}"></p></td>
                            <td style="display: none"><p style="display: none;" th:text="${e.getScoreFinal()}"></p></td>
                            <td style="display: none"><p style="display: none;" th:text="${e.getScoreFinalRate()}"></p></td>
                            <td style="display: none"><p style="display: none;" th:text="${e.getTotal()}"></p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>