<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>学生成绩查询-教师端</title>
    <script src="/js(groupFour)/echarts.min.js"></script>
    <script src="/js(groupFour)/jquery-3.4.0.min.js"></script>
    <script src="/js(groupFour)/style_teacher(groupFour).js"></script>
    <script src="/js(groupFour)/popper.min.js"></script>
    <script src="/js(groupFour)/bootstrap.min.js"></script>
    <script src="/js(groupFour)/jquery-3.4.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css(groupFour)/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css(groupFour)/top.css">
</head>
<body class="default">
<div class="top">
    <ul class="default">
        <li>
            <img class="left" src="/images(groupFour)/computer.png">
            <h1 style="font-size: 32px;"><a class="left" href="/home">教务管理系统</a></h1>
        </li>
    </ul>
</div>
<div class="orghead">
    <div class="container">
        <div class="title">
            <img class="title" src="/images(groupFour)/grade.png">
            <h1 class="title">成绩管理子系统-教师端</h1>
        </div>
        <div class="orgnav">
            <a href="/tscore_query" class="pagehead-tabs-item">
                <img class="label" src="/images(groupFour)/score_figure.png">学生成绩查询
            </a>
        </div>
        <div class="orgnav">
            <a href="/tscore_query/analysis" class="pagehead-tabs-item selected">
                <img class="label" src="/images(groupFour)/pie.png">学生成绩总览
            </a>
        </div>
        <div class="orgnav">
            <a href="/tscore_query/import_score" class="pagehead-tabs-item">
                <img class="label" src="/images(groupFour)/score_export.png">学生成绩导入
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="cardblock">
            <h5>成绩列表</h5>
            <form action="#" method="post" style="width: 400px;height: 38px;float: left;margin-top: 10px;">
                <select id="course_select" class="form-control" name="course_name" style="width: 230px;float: left">
                    <div th:each="e:${course_name}">
                        <option th:text="${e.getCourse_name()}"></option>
                    </div>
                    <option th:text="${select_course_name.getCourse_name()}" style="display: none"></option>
                </select>
                <button class="btn btn-outline-primary center" type="submit" style="margin-left: 30px;">
                    确认
                </button>
            </form>
            <form action="/tscore_query/score_export" method="post" style="display: inline-block;float:right;margin-top: 10px;margin-bottom: 10px;">
                <button class="btn btn-outline-primary center" style="float: right" type="submit">
                    导出成绩
                </button>
            </form>
        </div>
    </div>
    <div id="main_pie" class="card echart"></div>
    <script type="text/javascript">
        var myChart1 = echarts.init(document.getElementById('main_pie'));
        var course=get_select_course();

        myChart1.setOption({
            title : {
                text: '成绩区间分布图',
                subtext:course,
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: []
            },
            series : [
                {
                    name: '成绩区间分布',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[]
                }
            ]
        });
        $.ajax({
            type:"get",
            async:"false",
            url:"/tscore_query/analysis_json/"+course,
            data:{},
            dataType:"json",
            success:function (result) {
                var data=[];
                var ls=["90-100分","80-89分","70-79分","60-69分","<60分"];
                for(var i=0;i<result.cnt.length;i++){
                    if(result.cnt[i]!=0){
                        data.push({value:result.cnt[i],name:ls[i]});
                    }
                }
                myChart1.setOption({
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data:ls
                    },
                    series:[
                        {
                            name: '成绩区间分布',
                            type: 'pie',
                            radius : '70%',
                            center: ['50%', '60%'],
                            data:data
                        }
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                });
            },
            error:function () {
                alert("图表请求数据失败!");
            }
        });
    </script>

</div>
</body>
</html>