<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/iconfont/iconfont.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <title>教务系统</title>
</head>
<body>
<div class="container-fluid">
    <div class="row title">
        <div class="col-md-5 offset-md-1 col-sm-12 mt-5">
            <i class="icon-diannao iconfont ml-sm-2" style="font-size: 30px;vertical-align: middle"></i>
            计科1604教务管理系统
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-7 offset-md-1 border d-none d-md-block">
            <img src="images/login_bg_pic.jpg" alt="登陆" width="100%">
        </div>
        <div class="col-md-3 border">
            <div class="login">
                    <span class="loginTitle">
                        用户登录
                    </span>
                <form action="">
                    <div class="input-group">
                        <div class="input-group-prepend w-100">
                            <span class="input-group-text">
                                <i class="iconfont icon-diannao"></i>
                            </span>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend w-100">
                            <span class="input-group-text">
                                <i class="iconfont icon-diannao"></i>
                            </span>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="text-right mt-4">
                        <a href="/index">忘记密码了？</a>
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm mt-2 w-100">登录</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>